# Nodo 3 - Backend core, réplica 1 (ServicioCheckout + ProcesadorPagosContexto)
Backend.Nombre=R1
AdaptadorBackend.Endpoints=tcp -h 127.0.0.1 -p 10301
Datos.Primaria.Endpoint=tcp -h 127.0.0.1 -p 10101
Datos.Replica.Endpoint=tcp -h 127.0.0.1 -p 10102
Pasarelas.Endpoint=tcp -h 127.0.0.1 -p 10201
Backend.TimeoutPasarelaMs=1500
Backend.Breaker.Umbral=3
Backend.Breaker.EsperaMs=5000
