# Nodo 2 - Balanceador de carga
AdaptadorBalanceador.Endpoints=tcp -h 127.0.0.1 -p 10400
Balanceador.Replicas=2
Balanceador.Replica.1.Endpoint=tcp -h 127.0.0.1 -p 10301
Balanceador.Replica.2.Endpoint=tcp -h 127.0.0.1 -p 10302
Balanceador.HealthMs=1000
Balanceador.TimeoutMs=8000
