# Nodo 4 - Pasarelas SIMULADAS (Stripe, PSE, Cripto)
AdaptadorPasarelas.Endpoints=tcp -h 127.0.0.1 -p 10201
# Callback: las pasarelas avisan al balanceador
Pasarelas.Notificacion.Proxy=notificacionBalanceador:tcp -h 127.0.0.1 -p 10400:tcp -h 127.0.0.1 -p 10401
# Latencia bancaria simulada y probabilidad de rechazo
Pasarelas.Banco.MinMs=300
Pasarelas.Banco.MaxMs=1500
Pasarelas.ProbRechazo=0.05
Pasarelas.LentaMs=6000
# Para provocar fallos: NORMAL | CAIDA | LENTA | INESTABLE
#Pasarelas.PSE.Modo=CAIDA
#Pasarelas.Cripto.Modo=LENTA
